<section class="my-footer mt-3">
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
 <hr>
</svg>
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-12 my-3">
        <a href="/" class="text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#python"/></svg>
        </a>
        <span class="text-body-secondary">&copy; 2024 Qmarkit - Qr-метки для всех на свете!</span>
      </div>
      <div class="col-lg-3 col-sm-12 my-3 d-flex justify-content-end">
        <ul class="nav list-unstyled">
          
          <li class="ms-2"><a class="text-end" href="#">Наверх</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
