{% extends './base.html' %}
{% load static %}

{% block title %}Главная страница моего блога{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <section class="all-posts">
        <div class="container">
            <h1 class="my-4 text-center">Помещения:</h1>
            <div class="row">
                {% for room in rooms %}
                    
                                <p><a href="/room/{{room.url|safe|truncatechars:100 }}">{{room.number|safe|truncatechars:100 }} - {{room.name|safe|truncatechars:200 }}</a></p>
                    
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block pagination %}
    <section class="my-pagination">
      <nav aria-label="Paginate me">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
                </li>
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Следующая</a>
                </li>
            {% endif %}
        </ul>
      </nav>
    </section>
{% endblock %}
